.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 6px solid #044e30;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.MainContent {
  overflow: auto;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.InnerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;
  position: relative;
}

.InnerinnerContent {
  height: auto;
  width: 90vw;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .InnerinnerContent {
    width: 85vw;
    align-self: self-start;
  }
}
@media screen and (max-width: 576px) {
  .MainContent {
    align-self: center;
  }
}

@media screen and (max-width: 576px) {
  .InnerinnerContent {
    width: 98vw;
  }
}

