.loader {
  width: 90px;
  height: 90px;
  border: 8px solid rgb(20 83 45 / var(--tw-bg-opacity));;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.MainContent {
  overflow: auto;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.InnerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;
  position: relative;
}

.InnerinnerContent {
  height: auto;
  width: 90vw;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .InnerinnerContent {
    width: 85vw;
    /* align-self: self-start; */
  }
}
@media screen and (max-width: 576px) {
  .MainContent {
    align-self: center;
  }
}

@media screen and (max-width: 576px) {
  .InnerinnerContent {
    width: 91vw;
  }
}

